.header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 1rem;
  padding: 1rem max(5vw, env(safe-area-inset-right)) 1rem
    max(5vw, env(safe-area-inset-left));
}
.logo {
  font-size: 1.25rem;
  font-weight: 700;
  text-decoration: none;
  margin-right: auto;
}
.nav-toggle {
  display: none;
}
.navigation {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  align-items: center;
  width: 100%;
}
.navigation a {
  padding: 0.75rem;
  text-decoration: none;
}
.js .nav-toggle {
  display: inline-flex;
}
.js .navigation:not(.is-open) {
  display: none;
}
@media (min-width: 64rem) {
  .js .nav-toggle {
    display: none;
  }
  .navigation,
  .js .navigation:not(.is-open) {
    display: flex;
    width: auto;
  }
}

.nav-toggle {
  background: transparent;
  border: 0;
}
.navicon,
.navicon::before,
.navicon::after {
  display: block;
  width: 18px;
  height: 2px;
  background: currentColor;
  position: relative;
}
.navicon::before,
.navicon::after {
  content: "";
  position: absolute;
}
.navicon::before {
  top: -5px;
}
.navicon::after {
  top: 5px;
}
.nav-toggle[aria-expanded="true"] .navicon {
  background: transparent;
}
.nav-toggle[aria-expanded="true"] .navicon::before {
  top: 0;
  transform: rotate(45deg);
}
.nav-toggle[aria-expanded="true"] .navicon::after {
  top: 0;
  transform: rotate(-45deg);
}

@font-face {
  font-family: "Agustina";
  src: url("../../assets/fonts/Agustina.woff") format("woff");
  font-display: swap;
}
.logo-name {
  font-family: "Agustina", cursive;
  padding: 0 10px;
}
